<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>How to wake up in the morning</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div th:insert="fragments/_header :: header"></div>

<p>It can be difficult for many people in America to wake up in the morning, sometimes the primal urge to 'just keep sleeping' is far to strong for our frail mortal minds to handle, so in this tutorial we will go over just how to wake up.</p>

<img class="left" th:src="@{/img/mansleep.jpg}" alt="Man sleeping">
<!-- This image belongs to Dreamstime.com -->
Step 1: Set an Alarm.
Step 2: Wake up groggily due to the alarm.
Step 3: Regret setting the alarm.
<div th:insert="fragments/_footer :: footer"></div>
</body>
</html>