<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>How to turn on your smart phone</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div th:insert="fragments/_header :: header"></div>

<p>We live in a day and age where its basically a sin to not have a smart phone, its one of the most used electronic devices of all time, but if they are so gosh darn smart then why do WE have to turn them on? its a pain in the neck to try and find which one of the myriads of buttons actually gets the phone to boot up, so in this tutorial we will cover how to turn on a smart phone.</p>

<img class="left" th:src="@{/img/smartphone.png}" alt="Photo of iphone">
<!-- This photo belongs to TechTerms -->
Step 1: Scan the service on the device, feeling along the sides for any surfaces that may possibly be a button .
Step 2: if a button is found, press it
Step 3: If there is no button found, cry for help
Step 4: If neither of these steps work try reading a book or something.
<div th:insert="fragments/_footer :: footer"></div>
</body>
</html>