<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>How to eat soup</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div th:insert="fragments/_header :: header"></div>

<p>Soup is a popular food all around the world, but the enigmatic ways to consume it have baffled people around the globe since the dawn of time. Is it eating soup, or drinking soup? Is soup even real? In this tutorial we will cover how to consume this delicacy in a few simple steps.</p>

<img class="left" th:src="@{/img/soup.jpg}" alt="Photo of soup">
<!-- This photo belongs to Fifteen Spatulas -->
Step 1: Get a spoon.
Step 2: dip spoon into soup.
Step 3: Lift spoon to mouth.
Step 3: put soup bearing spoon into mouth.
Step 3: Consume soup (WARNING it is possible to also accidentally swallow the spoon, make sure you have a good grip on the tool as you complete this step.)
<div th:insert="fragments/_footer :: footer"></div>
</body>
</html>